https://stackoverflow.com/questions/49781303/tweepy-wont-import-to-jupyter-notebook-on-azure

In [30]:
!pip install tweepy
!pip install pandas

Requirement already satisfied: tweepy in /anaconda3/lib/python3.7/site-packages (3.7.0)
Requirement already satisfied: requests-oauthlib>=0.7.0 in /anaconda3/lib/python3.7/site-packages (from tweepy) (1.2.0)
Requirement already satisfied: requests>=2.11.1 in /anaconda3/lib/python3.7/site-packages (from tweepy) (2.21.0)
Requirement already satisfied: PySocks>=1.5.7 in /anaconda3/lib/python3.7/site-packages (from tweepy) (1.6.8)
Requirement already satisfied: six>=1.10.0 in /anaconda3/lib/python3.7/site-packages (from tweepy) (1.12.0)
Requirement already satisfied: oauthlib>=3.0.0 in /anaconda3/lib/python3.7/site-packages (from requests-oauthlib>=0.7.0->tweepy) (3.0.1)
Requirement already satisfied: urllib3<1.25,>=1.21.1 in /anaconda3/lib/python3.7/site-packages (from requests>=2.11.1->tweepy) (1.24.1)
Requirement already satisfied: certifi>=2017.4.17 in /anaconda3/lib/python3.7/site-packages (from requests>=2.11.1->tweepy) (2018.11.29)
Requirement already satisfied: idna<2.9,>=2.5 in /anaconda3/lib/python3.7/site-packages (from requests>=2.11.1->tweepy) (2.8)
Requirement already satisfied: chardet<3.1.0,>=3.0.2 in /anaconda3/lib/python3.7/site-packages (from requests>=2.11.1->tweepy) (3.0.4)
Requirement already satisfied: pandas in /anaconda3/lib/python3.7/site-packages (0.23.4)
Requirement already satisfied: python-dateutil>=2.5.0 in /anaconda3/lib/python3.7/site-packages (from pandas) (2.7.5)
Requirement already satisfied: pytz>=2011k in /anaconda3/lib/python3.7/site-packages (from pandas) (2018.7)
Requirement already satisfied: numpy>=1.9.0 in /anaconda3/lib/python3.7/site-packages (from pandas) (1.15.4)
Requirement already satisfied: six>=1.5 in /anaconda3/lib/python3.7/site-packages (from python-dateutil>=2.5.0->pandas) (1.12.0)

In [32]:
## Import modules
import tweepy
from tweepy import OAuthHandler
from tweepy.streaming import StreamListener
from tweepy import Stream

## Import packages
import numpy as np
import pandas as pd
import csv

## Set up keys
CONSUMER_KEY = 'cLIFNFcszEpqtr1BjgYy7EhJk '
CONSUMER_SECRET = 'HSPT1KQCq6LpKdFEjqXy2J0ixgSxicvZZs6nxCA9nHeJnMyZTB'
ACCESS_KEY = '749560820-et4N6j2dhzoL5dXapCzCqsruTjTgjVHyEHB4riP0'
ACCESS_SECRET = '303l01XhiQdyXHnS8EyQSp6mWDHZEa6pOsKzWHAQZ14R1'

auth = OAuthHandler(CONSUMER_KEY, CONSUMER_SECRET)
auth.set_access_token(ACCESS_KEY, ACCESS_SECRET)

# Create API object to access Twitter
api = tweepy.API(auth)

In [24]:
# Check API object was created
print(api)

<tweepy.api.API object at 0x10656e2e8>

In [ ]:
# Inherits from StreamListener
class StdOutListener(StreamListener):
    
    #Override
    def on_data(self, data):
        print(data)
        return True
    
    #Override, print out status message for error
    def on_error(self,status):
        print(status)

In [72]:
# Load CSV file with news articles 2015-date
dat = pd.read_csv("Articles.csv")
dat.head(50)

,Article,Date,Heading,NewsType
0,KARACHI: The Sindh government has decided to b...,1/1/2015,sindh govt decides to cut public transport far...,business
1,HONG KONG: Asian markets started 2015 on an up...,1/2/2015,asia stocks up in new year trad,business
2,HONG KONG: Hong Kong shares opened 0.66 perce...,1/5/2015,hong kong stocks open 0.66 percent lower,business
3,HONG KONG: Asian markets tumbled Tuesday follo...,1/6/2015,asian stocks sink euro near nine year,business
4,NEW YORK: US oil prices Monday slipped below $...,1/6/2015,us oil prices slip below 50 a barr,business
5,New York: Oil prices tumbled Tuesday to fresh ...,1/7/2015,oil hits new 5.5 year lows as saudis defend,business
6,KARACHI: Strong bulls on Friday pulled the ben...,1/9/2015,bullish kse jumps over 33000 psychological bar...,business
7,"Singapore: Oil fell further in Asia Monday, wi...",1/12/2015,oil falls further in asian trad,business
8,KARACHI: Wholesale market rates for sugar drop...,1/13/2015,sugar prices drop to rs 49.80 in sind,business
9,SYDNEY: Oil prices fell 1 percent on Wednesday...,1/14/2015,oil extends losses as world bank cuts growth for,business
10,TOKYO: Tokyo stocks opened 0.74 percent lower ...,1/14/2015,tokyo stocks open 0.74 percent lower,business
11,HONG KONG: Hong Kong stocks edged up 0.24 perc...,1/15/2015,hong kong stocks open 0.24 percent higher,business
12,London: World oil prices rebounded Friday afte...,1/16/2015,oil market rebounds on iea repor,business
13,ISLAMABAD: Long queues of vehicles on fuel sta...,1/16/2015,govt may take up to ten days to overcome petro...,business
14,SINGAPORE: Brent crude oil prices traded aroun...,1/19/2015,brent crude steady around 50,business
15,ISLAMABAD: A two member committee tasked to pr...,1/20/2015,report presented to pm holds ogra responsible ...,business
16,ISLAMABAD: The National Electric Power Regulat...,1/21/2015,notification issued for reduction in electrici...,business
17,Hong Kong: Asian markets extended their rally ...,1/22/2015,asia stocks mostly higher ahead of ecb meeting,business
18,ISLAMABAD: The Economic Coordination Committee...,1/23/2015,ecc approves export of 1.2 million tons of,business
19,SINGAPORE: Saudi Arabia's new king is expected...,1/23/2015,new saudi king seen holding line on opec polic...,business
20,ISLAMABAD: The National Electric Power Regulat...,1/23/2015,nepra prevents k electric from collecting meter r,business
21,ISLAMABAD: Finance Minister Ishaq Dar here on ...,1/25/2015,finance minister apprised on pak brunei invest...,business
22,ISLAMABAD: Pakistan's ongoing fuel shortage th...,1/26/2015,pakistan fuel crisis weighing on credit worthi...,business
23,ISLAMABAD: In a move to give relief to consume...,1/27/2015,petrol price expected to be slashed by rs 10 p...,business
24,Hong Kong: The euro extended its gains against...,1/27/2015,euro maintains gains asia stocks adv,business
25,New York: Oil prices rebounded Tuesday from si...,1/28/2015,oil rebounds sharply from six year lows as dol...,business
26,KARACHI: State Bank of Pakistan (SBP) governor...,1/29/2015,sbp warns islamic banks to be more equitab,business
27,New York: Oil tumbled to near a six-year low W...,1/29/2015,oil slumps as us crude reserves surge to recor...,business
28,ISLAMABAD: Federal Minister for Finance Ishaq...,1/31/2015,finance minister announces five percent increa...,business
29,NEW YORK: US authorities are investigating the...,2/2/2015,us probes moodys rating agency,business
30,London: Global oil prices slid Wednesday follo...,2/4/2015,oil prices slide after rally,business
31,ISLAMABAD: Federal State Minister for Water an...,2/4/2015,no unannounced load shedding anywhere in the c...,business
32,London: Oil prices fell further Thursday as th...,2/5/2015,oil prices extend,business
33,DUBAI: Talks between Pakistan and the Internat...,2/5/2015,pak imf talks conclude agreement for release o...,business
34,KARACHI: The final shipment of Chinese manufac...,2/6/2015,final shipment of 15 chinese engines arrives a...,business
35,London: Oil prices extended gains on Friday at...,2/6/2015,oil extends gains before us jobs d,business
36,ISLAMABAD: The Ministry of Water and Power iss...,2/6/2015,contract for 650mw supply to k electric cannot...,business
37,TOKYO: Tokyo stocks opened 1.09 percent higher...,2/6/2015,tokyo stocks open up 1.09 per,business
38,ISLAMABAD: The consistent fall in the price of...,2/7/2015,january 2015 saw record sale of petrol in paki,business
39,London: Oil prices advanced further Monday wit...,2/9/2015,oil prices extend gai,business
40,LONDON: British bank HSBC Holdings Plc admitte...,2/9/2015,hsbc admits swiss bank failings over client tax,business
41,Singapore: Oil prices fell in Asia on Tuesday ...,2/10/2015,oil prices fall as iea predicts weak rebound,business
42,MUZAFFARABAD: The Intra-Kashmir trade service ...,2/11/2015,intra kashmir trade resumes after six day,business
43,ISLAMABAD: Prime Minister Nawaz Sharif on Wedn...,2/11/2015,pakistan wants early implementation of tapi pr...,business
44,SYDNEY: Cricket fever has gripped Australia wi...,2/11/2015,hotel prices skyrocket in australia ahead of w...,business
45,Karachi: Microsoft Devices Pakistan announced ...,2/12/2015,nokia 215 dual sim launched in paki,business
46,ISLAMABAD: Federal Finance Minister Ishaq Dar ...,2/12/2015,cnic number now tax number only companies allo...,business
47,ISLAMABAD: Government has put in place new tax...,2/12/2015,govt imposes new taxes of rs4 billi,business
48,Singapore: Oil prices edged higher in Asia Thu...,2/12/2015,oil prices rise in asian trad,business
49,"London: World oil prices rose Friday, extendin...",2/13/2015,oil prices extend gai,business

In [80]:
df = pd.DataFrame(dat)
df[df['Article'].str.contains("NEW|YORK")==True]

,Article,Date,Heading,NewsType
4,NEW YORK: US oil prices Monday slipped below $...,1/6/2015,us oil prices slip below 50 a barr,business
29,NEW YORK: US authorities are investigating the...,2/2/2015,us probes moodys rating agency,business
68,NEW YORK: Billionaire philanthropist Bill Gate...,3/3/2015,bill gates still the richest man in the world,business
103,NEW YORK: Crude-oil prices fell Thursday after...,4/3/2015,global oil prices fall as iran nuclear framewo...,business
188,NEW YORK: Oil prices rose modestly on Monday a...,6/23/2015,oil prices rise with focus on greece ir,business
203,NEW YORK: The euro gained ground on Wednesday ...,7/9/2015,euro lifts as hopes mount for greek crisis res...,business
207,NEW YORK: The euro surged against the dollar F...,7/11/2015,euro climbs on optimism for greek d,business
209,NEW YORK: Oil prices slipped Monday as traders...,7/14/2015,oil prices drop as dollar firms on greek bailo...,business
233,NEW YORK: The New York Times said Thursday its...,8/6/2015,one million digital paid subscriptions for nyt...,business
262,NEW YORK: Pakistani Ambassador to the United N...,8/28/2015,dr. lodhi highlights pakistans investor friend...,business
411,strong>NEW YORK/LONDON: Oil prices rose on Thu...,1/1/2016,Oil ends 2015 down 35 per,business
435,NEW DELHI: Indian Prime Minister Narendra Modi...,1/16/2016,Modi launches 15 bln fund to support start u,business
442,strong>MANILA: Gold edged higher on Wednesday ...,1/20/2016,Gold edges up as stocks retreat oil strugg,business
480,strong>NEW YORK/LONDON: Oil prices rose 7 perc...,2/18/2016,Oil up 7 percent as Iran welcomes output freez,business
493,NEW DELHI: India unveiled a fire-fighting budg...,2/29/2016,India unveils pro poor budget keeps deficit targ,business
538,strong>NEW YORK: Oil prices steadied on Thursd...,3/25/2016,Oil steadies as US rig count drop offsets stoc...,business
547,strong>NEW YORK: Oil prices jumped more than 1...,4/1/2016,Oil posts best quarter since mid 2015 but glut...,business
549,strong>NEW DELHI :India´s top cigarette maker ...,4/2/2016,Indias ITC says to keep cigarette factories sh...,business
557,strong>NEW YORK: Global equity markets advance...,4/9/2016,Global stocks gain on oil boost dollar fades vs y,business
601,strong>NEW YORK: Johnson &amp; Johnson was ord...,5/3/2016,Johnson Johnson ordered to pay 55 mln in talc ...,business
623,strong>NEW YORK: Brent jumped 4 percent on Tue...,5/11/2016,Oil jumps on outag,business
627,strong>NEW DELHI: India announced a new intell...,5/13/2016,India trademark patent policy global pressur,business
630,"strong>NEW YORK: It's a bird, it's a plane, an...",5/13/2016,Comic books teach fi,business
634,strong>NEW YORK: The Federal Reserve Bank of ...,5/14/2016,US bank defends fund transfer after Bangladesh...,business
636,strong>NEW DELHI: India's wholesale prices une...,5/16/2016,India wholesale prices ri,business
642,strong>BENGALURU: Gold prices edged up on Tues...,5/17/2016,Gold dollar strength stocks recovery,business
652,strong>NEW DELHI: India will on Monday sign a ...,5/20/2016,India sign Iran port contract Modis tri,business
655,strong>NEW DELHI/MUMBAI: Apple Inc chief Tim ...,5/21/2016,Apple boss Cook meets Modi plot India strategy,business
657,strong>NEW DELHI: Indian refiners have cleared...,5/21/2016,India pays Iran oil dues Modi visi,business
674,strong>NEW YORK: Oil rose about 1 percent on T...,5/25/2016,Oil jumps to near 50,business
...,...,...,...,...
2061,"strong>NEW DELHI: India´s ""Magnificent"" Mary K...",6/23/2016,India Mary Kom wont quit heartbreaking Rio KO,sports
2075,strong>NEW JERSEY: Chile face Argentina in Sun...,6/25/2016,Messi primed to end Argentina drought Copa fi,sports
2082,NEW YORK: Keith Thurman put his stamp on the d...,6/26/2016,Thurman edges Porter to retain WBA ti,sports
2097,strong>NEW JERSEY: Chile upset favourites Arge...,6/27/2016,Chile clinch Copa America title in shootou,sports
2102,strong>NEW DELHI: New Zealand will begin their...,6/28/2016,New Zealand begin India tour Kanpur,sports
2225,"NEW YORK: The 2016 US Open, the fourth and fin...",7/13/2016,US Open boosts prize money to record 463 milli,sports
2246,NEW DELHI: England will embark on their length...,7/15/2016,England to begin Test series in India at new v...,sports
2264,strong>NEW DELHI: The Supreme Court has barred...,7/18/2016,Indias top court bars ministers bureaucrats BCCI,sports
2275,"NEW DELHI: Hockey star Mohammed Shahid, who sa...",7/20/2016,India Olympic star Shahid dies aged 56,sports
2285,strong>NEW DELHI: Former Australia cricketer a...,7/21/2016,Australias Starc can pass 300 wickets McDer,sports
2361,NEW YORK: Challenger Carl Frampton defeated M...,7/31/2016,Frampton stops Santa Cruz to win WBA featherwe...,sports
2472,strong>NEW YORK: As the US presidential electi...,10/28/2016,US markets not fully buying Hillary wi,business
2476,strong>NEW YORK The New York Times Co. saw pro...,11/2/2016,NY Times sees digital gains but profit evapor,business
2485,NEW YORK: Betting exchanges and online trading...,11/8/2016,Clinton far ahead of Trump on betting exchange...,business
2486,strong>NEW YORK: Wall Street stocks dipped in...,11/8/2016,US stocks dip as election day voting kicks off,business
2490,strong>NEW YORK: US stock markets reversed an ...,11/9/2016,US stocks surge as voters head to,business
2494,NEW YORK: US equities were lower in early trad...,11/11/2016,US stocks lower as Trump enthusiasm,business
2502,strong>LONDON/NEW DELHI/MOSCOW: A multi-billio...,11/16/2016,Oil wars how Kremlin 13 billion Indian deal fe...,business
2506,strong>NEW DELHI: Iran overtook political riva...,11/17/2016,Iran overtakes Saudi Arabia top oil supplier Indi,business
2524,strong>NEW YORK: Key stock indexes on Wall Str...,11/26/2016,Wall Street ends at record highs dollar loses,business
2534,strong>NEW YORK: With this week´s deal to cut ...,12/3/2016,OPEC deal could lead to US shale surg,business
2549,strong>NEW YORK: The U.S. dollar edged lower a...,12/17/2016,US dollar holds near 14 year hig,business
2550,NEW DELHI: India´s central bank on Monday impo...,12/19/2016,India puts fresh curbs on deposits of banned,business
2580,NEW DELHI: Pakistan's stock market has outperf...,1/3/2017,Pakistan outperforms India in stock returns du...,business
2593,strong>NEW YORK: World food prices fell for a ...,1/12/2017,World food prices fall in 2016 for fifth strai...,business
2607,NEW YORK: Most major stock indices posted gain...,1/19/2017,Global stocks gain as Wall Street eyes Trump i...,business
2613,strong>NEW DELHI: India on Wednesday signed a ...,1/25/2017,India signs oil reserves pact UAE,business
2621,NEW YORK: Many American businesses are publicl...,1/31/2017,Trump immigration order causes rift with busi,business
2638,strong>NEW YORK: Oil pared gains on Tuesday as...,2/14/2017,Oil pares gains as US supply concerns overshad...,business
2648,NEW DELHI: A State Bank of India (SBI) ATM in ...,2/22/2017,Fake Rs 2000 notes dispensed from ATM in Delhi,business

In [105]:
# Read in World Cup search interest over 2018 year
#  Number 1 most searched
dat_1 = pd.read_csv("2018/Interest/World_Cup.csv")
dat_1.head()

              Category: All categories
Week        World Cup: (United States)
2018-01-07                           1
2018-01-14                           1
2018-01-21                           1
2018-01-28                           1

In [106]:
# Read in Hurricane Florence search interest over 2018 year
# Number 2 most searched

dat_2 = pd.read_csv("2018/Interest/Hurricane_Florence.csv")
dat_2.head()

                       Category: All categories
Week        Hurricane Florence: (United States)
2018-01-07                                   <1
2018-01-14                                    0
2018-01-21                                    0
2018-01-28                                   <1

In [111]:
df_1 = pd.DataFrame(dat_1)
df_2 = pd.DataFrame(dat_2)
df_concat = pd.concat([df_1, df_2], axis=1)
df_concat

              Category: All categories             Category: All categories
Week        World Cup: (United States)  Hurricane Florence: (United States)
2018-01-07                           1                                   <1
2018-01-14                           1                                    0
2018-01-21                           1                                    0
2018-01-28                           1                                   <1
2018-02-04                           1                                    0
2018-02-11                           1                                   <1
2018-02-18                           1                                   <1
2018-02-25                           1                                    0
2018-03-04                           1                                   <1
2018-03-11                           1                                   <1
2018-03-18                           1                                   <1
2018-03-25                           1                                   <1
2018-04-01                           1                                   <1
2018-04-08                           1                                    0
2018-04-15                           1                                   <1
2018-04-22                           1                                   <1
2018-04-29                           1                                   <1
2018-05-06                           1                                   <1
2018-05-13                           2                                    0
2018-05-20                           3                                   <1
2018-05-27                           4                                   <1
2018-06-03                           6                                   <1
2018-06-10                          47                                   <1
2018-06-17                          94                                   <1
2018-06-24                         100                                    0
2018-07-01                          89                                   <1
2018-07-08                          50                                   <1
2018-07-15                          21                                    0
2018-07-22                           2                                    0
2018-07-29                           1                                   <1
2018-08-05                           1                                   <1
2018-08-12                           1                                    0
2018-08-19                           1                                   <1
2018-08-26                           1                                   <1
2018-09-02                           1                                    5
2018-09-09                           1                                  100
2018-09-16                          <1                                   10
2018-09-23                           1                                    2
2018-09-30                          <1                                    1
2018-10-07                          <1                                    1
2018-10-14                          <1                                   <1
2018-10-21                          <1                                   <1
2018-10-28                           1                                   <1
2018-11-04                          <1                                   <1
2018-11-11                          <1                                   <1
2018-11-18                           1                                   <1
2018-11-25                          <1                                   <1
2018-12-02                           1                                   <1
2018-12-09                           1                                   <1
2018-12-16                           1                                   <1
2018-12-23                          <1                                   <1
2018-12-30                          <1                                   <1